<footer class="footer">
  <div class="container">
    <h2 class="section-title">Contacts</h2>
    <p class="footer-text">Want to know more or just chat? You are welcome!</p>
    <button class="button" type="button">Send message</button>
    <ul class="social__list list">
      <li class="social__item"></li>
      <li class="social__item"></li>
      <li class="social__item"></li>
      <li class="social__item"></li>
    </ul>
    <p class="social__text">Like me on LinkedIn, Instagram, Behance, Dribble</p>
  </div>
</footer>
