<section class="hero" id="home">
  <div class="container">
    <button class="button menu-btn" aria-expanded="false" type="button" data-menu-open>
      <svg class="" width="33" height="20">
        <use class="" href="/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="hero__box">
      <h1 class="hero__title">Denis Novik</h1>
    </div>
    <p class="hero__text">UX | UI designer <br />24 years old, Minsk</p>
    <picture class="hero__img">
      <source
        class="hero__img-member"
        srcset="./images/hero-desk-1-1x.jpg 1x, ./images/hero-desk-1-2x.jpg 2x"
        media="(min-width:1024px)"
      />
      <source
        class="hero__img-member"
        srcset="./images/hero-mob-1-1x.jpg 1x, ./images/hero-mob-1-2x.jpg 2x"
        media="(min-width:320px)"
      />
      <img srcset="./images/hero-mob-1-1x.jpg" src="./images/hero-mob-1-1x.jpg" alt="human" />
    </picture>
  </div>
</section>
