<section class="skills">
  <div class="container">
    <h2 class="section-title">Skills</h2>
    <p class="caption">I work in such programs as</p>
    <ul class="skills__list list">
      <li class="skills__item">
        <img class="skills__img" src="" alt="logo1" />
        <p class="skills__text">Adobe Photoshop</p>
        <div class="skills__stars"></div>
      </li>
      <li class="skills__item">
        <img class="skills__img" src="" alt="logo2" />
        <p class="skills__text">Adobe Illustrator</p>
        <div class="skills__stars"></div>
      </li>
      <li class="skills__item">
        <img class="skills__img" src="" alt="logo3" />
        <p class="skills__text">Adobe After Effects</p>
        <div class="skills__stars"></div>
      </li>
      <li class="skills__item">
        <img class="skills__img" src="" alt="logo4" />
        <p class="skills__text">Figma</p>
        <div class="skills__stars"></div>
      </li>
    </ul>
  </div>
</section>
