.portfolio {
    padding-top: 82px;
    padding-bottom: 80px;
    background-color: $bg-gray-color;
    @media screen and (min-width:768px){
        padding-top: 112px;
        padding-bottom: 96px;
    }
}

.portfolio__list {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:768px){
        margin-top: 48px;
        
    }
}

.portfolio__link {
    margin-top: 34px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.22;
    color: inherit;
    transition: $transition;
    @media screen and (min-width:768px){
        margin-top: 45px;
        
    }
    &:hover {
        color: $grey-text-color;
    }
}

.portfolio__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &:not(:first-child){
        margin-top: 78px;
        @media screen and (min-width:768px){
            margin-top: 100px;
        
        }
    }
    
}

.portfolio__img {
    width: 100%;
}