.skills {
    padding-top: 82px;
    padding-bottom: 100px;
    @media screen and (min-width:768px){
        padding-top: 90px;
        padding-bottom: 110px;
        
    }
}

.caption {
    text-align: center;
    margin-top: 50px;
    @media screen and (min-width:768px){
        margin-top: 70px;
        
    }
}

.skills__list {
    margin-top: 70px;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        max-width: 940px;
        margin: 70px auto 0;
    }
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width:767px){
        &:not(:first-child){
        margin-top: 80px;
        }
    }
    @media screen and (min-width:768px){
    }
}

.skills__text {
    margin-top: 25px;
}

.skills__stars-list {
    display: flex;
    margin-top: 40px;
}

.skills__stars-item {
    &:not(:last-child){
        margin-right: 14px;
    }
}

.skill__stars-gray {
    fill: $grey-text-color;
}
