.skills {
    padding-top: 82px;
    padding-bottom: 100px;
}

.caption {
    text-align: center;
    margin-top: 50px;
}

.skills__list {
    margin-top: 70px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:first-child){
        margin-top: 80px;
    }
}

.skills__text {
    margin-top: 25px;
}

.skills__stars-list {
    display: flex;
    margin-top: 40px;
}

.skills__stars-item {
    &:not(:last-child){
        margin-right: 14px;
    }
}

.skill__stars-gray {
    fill: $grey-text-color;
}
